---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import NicheStrip from '../components/NicheStrip.astro';
import Showcase from '../components/Showcase.astro';
import WhyWebsite from '../components/WhyWebsite.astro';
import WhatYouReceive from '../components/WhatYouReceive.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Responsive from '../components/Responsive.astro';
import CostConcerns from '../components/CostConcerns.astro';
import BriefForm from '../components/BriefForm.astro';
import Footer from '../components/Footer.astro';
import FloatingContact from '../components/FloatingContact.astro';
---
<Layout>
  <Header />
  <main>
    <Hero />
    <NicheStrip />
    <Showcase />
    <WhyWebsite />
    <WhatYouReceive />
    <HowItWorks />
    <Responsive />
    <CostConcerns />
    <!-- Testimonials section will be inserted between CostConcerns and the brief form once real clients exist (see CostConcerns.astro). -->
    <BriefForm />
  </main>
  <Footer />
  <FloatingContact />
</Layout>
